* {
    box-sizing: border-box;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

/* General styling for all pages */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.logo a img {
    height: 100px;
    line-height: 100px;
    border-style: none;
}

main {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

nav {
    color: #000000;
    top: 0;
}

.flashes {
    width: 50%;
    height: 3em;
    padding: 1em;
    margin: 0 auto;
    background-color: rgba(14,14,157,0.5);
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling for the larger nav bar for larger screens */

.nav-large {
    display: flex;
    justify-content: right;
}

.nav-large a {
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
    padding: 20px 10px;
    text-decoration: none;
    color: #000000;
    text-align: center; 
}

/* Styling for the hamburger menu for smaller screens */

#hamburger {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}

#close-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}

.menu-label {
    font-weight: bold;
    color: #000000;
    text-align: right;
}

.menu-content {
    padding: 30px 5px 5px 0;
}

.menu-content ul {
    list-style-type: none;
    text-align: right;
    font-size: 0.75em;
    cursor: pointer;
}

.menu-content li {
    padding: 5px 0px;
}

.menu-content a {
    text-decoration: none;
    color: #000000;
}

/* Home page styling */

.welcome-container {
    font-size: 1.75em;
    text-align: center;
    padding: 0 0 40px 0;
}

.magazines-gallery img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.magazines-gallery p {
    text-align: center;
    align-items: center;
}

.magazines-gallery a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* Individual magazine page styling */

.mag-desc {
    text-align:justify;
    margin: 0 0 50px 0;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(249px, 1fr));
    grid-gap: 25px;
    margin: 20px auto;
    text-align: justify;
    align-items: center;
}

.details-container h4 {
    text-decoration: underline;
}

.details-container ul {
    margin: 20px;
}

.details-heading {
    font-weight: bold;
}

.action-button {
    background-color: rgba(14,14,157,0.5);
    width: 225px;
    height: 4em;
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.action-button a {
    color: #FFFFFF;
    text-decoration: none;
}

/* All categories page styling */

.cat-menu ul {
    margin: 25px;
}

.category-button {
    background-color: rgba(14,14,157,0.5);
    width: 225px;
    height: 4em;
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.category-button li, a {
    text-decoration: none;
    color: #000000;
}

/* Login / Logout / Register pages styling */

.login-container {
    text-align: center;
    padding: 0 0 40px 0;
}

.login-container input {
    width: 50%;
    margin: 10px 0 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.logout-container {
    font-size: 1.75em;
    text-align: center;
    padding: 0 0 40px 0;
}

.login-button, .register-button {
    background-color: rgba(14,14,157,0.4);
    width: 180px;
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25em;
    color: #000000;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

/* Admin Console pages styling */

.admin-con-button, .admin-add-button {
    background-color: rgba(14,14,157,0.4);
    width: 250px;
    height: 4em;
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.admin-con-button a, .admin-add-button a {
    text-decoration: none;
    color: #000000;
}

.admin-action-button {
    background-color: rgba(14,14,157,0.4);
    padding: 0.2em;
    font-size: small;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.admin-action-button a {
    text-decoration: none;
    color: #000000;
}

/* List pages styling */
table {
    margin: 0 auto;
    font-size: small;
}

table, td { 
    border: 1.5px solid #999999;
    border-collapse: collapse;
}

tr:nth-of-type(even) { background-color: rgba(14, 14, 157, 0.1); }

th {
    background-color: rgba(14, 14, 157, 0.4);
    color: #000000;
    padding: 20px;
    border: 1.5px solid #000000;
    border-collapse: collapse;
}

td, thead {
    padding: 10px;
}

/* My Account page styling */
.my-acc-button {
    background-color: rgba(14,14,157,0.4);
    width: 250px;
    height: 4em;
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-acc-button a {
    text-decoration: none;
    color: #000000;
}

/* Forms styling */

input {
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button, .edit-button, .mag-form-button {
    background-color: rgba(14,14,157,0.4);
    width: 180px;
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25em;
    color: #000000;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.edit-button a {
    text-decoration: none;
    color: #000000;
}

fieldset {
    border: 1px solid #888888;
    padding: 30px;
    }

fieldset legend {
    padding: 6px;
    font-weight: bold;
    }

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 20px;
}

/* Styling for the footer */

.comment-footer {
    display: flex;
    justify-content: space-between;
}

footer {
    font-size: small;
    line-height: 1.5;
    width: 100%;
    padding: 40px;
}

.foot-contact {
    text-align: center;
}

.foot-contact a {
    text-decoration: underline;
    color: var(--grey);
}

.copy {
    display: flex;
    justify-content: center;
    font-size:x-small;
}

.copy p {
    margin: 0;
}

/* Media queries - Styling is mobile first so media queries relate to larger screens */

@media (max-width: 768px) {
    .nav-large {
        display: none;
    }

    .nav-small {
        display: block;
    }

    .welcome-container {
        font-size: 1em;
        text-align: center;
        padding: 0 0 20px 0;
    }
}

@media (min-width: 768px) {

    .nav-small {
        display: none;
    }
   
    .nav-large {
        display: block;
    }

    .magazines-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        text-align: justify;
        align-items: center;
    }

    .details-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        text-align: justify;
    }

    .cat-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
        text-align: justify;
        align-items: center;
    }

    .admin-console {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        text-align: justify;
    }

    .my-acc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        text-align: justify;
    }
}

