{% extends 'base.html' %}

{% block main %}
    <h2>List of Categories</h2>
    <p class="admin-add-button"><a href="{{ url_for('add_category') }}">Add a New Category</a></p>
    <br>
    <div class="table-container">
        <table>
          <thead>
            <tr>
              <th scope="col">Category ID</th>
              <th scope="col">Category Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% if categories|length > 0 %}
                  {% for category in categories %}
                      <tr>
                          <td>{{category.cat_id}}</td>
                          <td>{{category.cat_name}}</td>
                          <td>
                              <a href="{{ url_for('edit_category', cat_id=category.cat_id) }}"><p class="admin-action-button">Edit</p></a>
                              <a href="{{ url_for('delete_category', cat_id=category.cat_id) }}"><p class="admin-action-button">Delete</p></a>
                          </td>
                      </tr>
                  {% endfor %}
              {% else %}
                  <tr>
                    <td colspan="3">No categories found</td>
                  </tr>
              {% endif %}
          </tbody>
        </table>
    </div>
{% endblock %}