{% extends 'base.html' %}

{% block main %}
    <h2>Subscription (ID: {{ subscription.sub_id }}) for Subscriber {{subscription.users.name}} ({{ subscription.user_id}})</h2>
        <p>Subscription ID: {{ subscription.sub_id }}</p>
        <p>Subscriber Name (User ID): {{subscription.users.name}} ({{ subscription.user_id}})</p>
        <p>Magazine: {{subscription.magazines.title}}</p>
        <p>Length of Subscription: {{ subscription.sub_length }}</p>
        <p>Start Date: {{ subscription.sub_start_date }}</p>
        <p>First Issue: {{ subscription.get_first_issue_date() }}</p>
        <p>Is the subscription active?
            {% if subscription.active %}
                Yes
            {% else %}
                No
            {% endif %}
        </p>
{% endblock %}
