<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kiosk</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Discover and subscribe to your favorite magazines, all in one place!">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/"><img src="/static/images/logo.png" alt="Kiosk"></a>
            </div>
            <nav>
                <div class="nav-small">
                    <img src="/static/images/hamburger.png" alt="Hamburger menu" id="hamburger">
                    <img src="/static/images/close.png" alt="X to close" class="inactive" id="close-menu">
                    <div class="menu-content inactive">
                        <p class="menu-label">Menu</p>
                        <ul>
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('all_categories') }}">Categories</a></li>
                            <li><a href="{{ url_for('add_subscription') }}">Subscribe</a></li>
                            {% if current_user.is_authenticated %}
                                <li><a href="{{ url_for('my_account') }}">My Account</a></li>
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                                <li><a href="{{ url_for('register') }}">Register</a></li>
                            {% endif %}
                            {% if current_user.is_authenticated and current_user.role_id == EMPLOYEE_ROLE_ID %}
                                <li><a href="{{ url_for('admin_console') }}">Admin Console</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="nav-large">
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('all_categories') }}">Categories</a>
                    <a href="{{ url_for('add_subscription') }}">Subscribe</a>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('my_account') }}">My Account</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.role_id == EMPLOYEE_ROLE_ID %}
                        <a href="{{ url_for('admin_console') }}">Admin Console</a>
                    {% endif %}
                </div>
            </nav>
        </header>
        <div class="container">
            <main>
            {% block main %}
            {% endblock %}
            </main>
        </div>
        <script src="/static/js/script.js"></script>
        <footer>
            <div class="foot-contact">
                <p>E-mail: <a href="mailto:fake.email@kiosk.com">fake.email@kiosk.com</a></p>
            </div>
            <div class="copy">
                <p>&copy; 2024 Kiosk. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>