{% extends "base.html" %}

{% block main %}
    <h2>{{ category.cat_name }} Magazines</h2>
    <div class="magazines-gallery">
        {% if category.magazines|length > 0 %}
            {% for magazine in category.magazines %}
                <a href="/magazine/{{ magazine.mag_id }}">
                    <img src="/static/images/mag{{ magazine.mag_id }}.jpg" alt="Cover for " {{ magazine.title }} class="magazine-cover">
                    <p>{{ magazine.title }}</p>
                </a>
            {% endfor %}
        {% else %}
            <p>No magazines are currently available under the {{ category.cat_name }} category. Check back later to see any new additions.</p>
        {% endif %}
    </div>
{% endblock %}
