{% extends "base.html" %}

{% block main %}
<div class="welcome-container">
    <p>Welcome to Kiosk!</p>
    <p>Discover and subscribe to your favorite magazines, all in one place!</p>
</div>
<div>
    <p>Browse and subscribe to magazines under the following categories:</p>
    <ul>
        {% for category in categories %}
            <li>
                <a href={{ url_for('category_mags', cat_id=category.cat_id) }}>{{ category.cat_name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}