{% extends "base.html" %}

{% block main %}

    <h2>User ID {{ user.id }} has been successfully updated</h2>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Role</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.id}}</td>
                    <td>
                        {% if user.role_id == 1 %}
                            Subscriber
                        {% elif user.role_id == 2 %}
                            Employee
                        {% else %}
                            User
                        {% endif %}
                    </td>
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}